<div class="container text-center index_div">
    <section class="bienvenida">
        {{#if user}}
        <h1>Bienvenido <span>{{user.first_name}} {{user.last_name}} {{user.user.first_name }}</span></h1>        
        {{else}}
        <h1>Bienvenido</h1>
        {{/if}}
        {{#if user}}
        {{#ifEqual user.role "admin"}}
        <img src="../img/corona.png" alt="Corona" srcset="">
        {{/ifEqual}}
        {{/if}}
    </section>

    <h2>Productos Favoritos</h2>
    <h3>Seleccionar la cantidad de Productos a Visualizar</h3>
    <div class="input-group group-limit">
        <input type="number" name="cantidad" class="form-control" value="1" min="1" max="{{ productLength }}">
        <div class="input-group-append">
            <a href="/?limit=" class="btn btn-primary" id="verBtn">Ver</a>
        </div>
    </div>
</div>