<div class="main">
  <h1>Bienvenido {{session.sessionDataName}}, eres un {{session.sessionAuth}}!</h1>

  <a href="/logout" class="logOut">LogOut</a>

  <div class="shop">

    {{#each p}}

      <div class="containers">
        <p>Name: {{this.title}}</p>

        <p>Description: {{this.description}}</p>

        <p>Price: {{this.price}}</p>

        <button>Add To pouch</button>

        <a href="http://localhost:8082/productDetail/{{this._id}}">Mas detalles</a>

      </div>
    {{/each}}
  </div>

  <div class="botonera">
    {{this.pagingCounter}}
    {{totalPages}}

    <hr />
    <hr />

    {{prevPage}}
    {{#if hasPrevPage}}
      <a href="http://localhost:8082/products/?page={{prevPage}}">⬅️</a>
    {{/if}}
    {{page}}
    {{#if hasNextPage}}
      <a href="http://localhost:8082/products/?page={{nextPage}}">➡️</a>
    {{/if}}
    {{nextPage}}
  </div>

</div>