
<style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .welcome-container {
      text-align: center;
      margin-bottom: 20px;
    }

    section {
      text-align: center;
      margin-bottom: 20px;
    }

    .input-group {
      margin-top: 10px;
    }

    footer {
      background-color: #f8f9fa;
      width: 100%;
      padding: 20px 0;
      text-align: center;
    }
  </style>
</head>


<body>
  <div class="welcome-container">

        {{#if user.first_name}}
            <h1>Bienvenido<span> {{user.first_name}} {{user.last_name}}!</span></h1>
            <p>Email: {{user.email}}</p>

            {{#if admin}}
                <p>Rol: Admin</p>  
            {{else}}
                <p>Rol: Usuario</p>
            {{/if}}

            <a href="/users/logout">Cerrar sesión</a>
        {{/if}}
    </div>
</head>

  
<section>
    <form id="cart-form" action="/carts/{{this._id}}" method="POST">
     {{#each products}}
    <p>Nombre del producto: {{this.title}}</p>
    <p>Descripcion: {{this.description}}</p>
    <p>Categoria: {{this.category}}</p>
    <p>Precio: {{this.price}}</p>
    <p>Stock actual: {{this.stock}}</p>
   

        <div class="input-group group-comprar">
            <input type="number" name="cantidad" id="cantidad" class="form-control" value="1" min="1" max="{{productos.stock}}">
            <div class="input-group-append">
               <button type="submit" class="btn btn-success" formaction="views/carts/carts-list">Agregar al Carrito</button>
            </div>
        </div>
    </form>
      {{/each}}
</section>
    <script>
        document.getElementById('cart-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            const cantidad = document.getElementById('cantidad').value;

            const formData = new FormData();
            formData.append('cantidad', cantidad);

            fetch(this.action, {
                method: this.method,
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    console.log('Producto agregado al carrito.');
                } else {
                    console.error('Error al agregar el producto al carrito.');
                }
            })
            .catch(error => {
                console.error('Error de red:', error);
            });
        });
    </script>



<footer class='border-0 border-top border-dark text-center text-dark'>
  <div class='container p-4 pb-0'>
    <section>
      <a target='_blank' class='btn text-white btn-floating m-1' style='background-color: #3b5998;' href='https://www.facebook.com/gonza.martinez.50115161' role='button'><i class='bi bi-facebook'></i></a>
      <a target='_blank' class='btn text-white btn-floating m-1' style='background-color: #55acee;' href='https://twitter.com/coderhouse' role='button'><i class='bi bi-twitter'></i></a>
      <a target='_blank' class='btn text-white btn-floating m-1' style='background-color: #ac2bac;' href='https://www.instagram.com/mart_inezgon/' role='button'><i class='bi bi-instagram'></i></a>
      <a target='_blank' class='btn text-white btn-floating m-1' style='background-color: #0082ca;' href='https://www.linkedin.com/in/gonzalo-martinez-1b5a69263/' role='button'><i
          class='bi bi-linkedin'
        ></i></a>
      <a target='_blank' class='btn text-white btn-floating m-1' style='background-color: #333333;' href='https://github.com/omargonza' role='button'><i class='bi bi-github'></i></a>
    </section>
  </div>
  <div class='text-center p-3 footerInfo'>
    <h5>2023 Backend Project in CODERHOUSE using NODE.JS and EXPRESS JS</h5>
    <h6>by Gonza martinez</h6>
  </div>
</footer>

